<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns="https://schema.phpunit.de/coverage/1.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://schema.phpunit.de/coverage/1.0 https://schema.phpunit.de/coverage/1.0/coverage.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="SDK Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <failOnLowCoverage>
            <element name="elements" limit="80"/>
        </failOnLowCoverage>
        <exclude>
            <directory>./src/Exceptions</directory>
        </exclude>
    </coverage>
    <logging>
        <coverage clover="coverage.xml"/>
    </logging>
</phpunit>